#### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

#### Getting data

In [2]:
colors = pd.read_csv("/Users/sakshee/Desktop/Lego_Data_Analysis/colors.csv")
colors

       id                  name     rgb is_trans
0      -1             [Unknown]  0033B2        f
1       0                 Black  05131D        f
2       1                  Blue  0055BF        f
3       2                 Green  237841        f
4       3        Dark Turquoise  008F9B        f
..    ...                   ...     ...      ...
212  1086            Pearl Lime  6A7944        f
213  1087            Duplo Pink  FF879C        f
214  1088          Medium Brown  755945        f
215  1089              Warm Tan  CCA373        f
216  9999  [No Color/Any Color]  05131D        f

[217 rows x 4 columns]

In [3]:
themes = pd.read_csv("/Users/sakshee/Desktop/Lego_Data_Analysis/themes.csv")
themes

      id                         name  parent_id
0      1                      Technic        NaN
1      3                  Competition        1.0
2      4               Expert Builder        1.0
3     16                   RoboRiders        1.0
4     17               Speed Slammers        1.0
..   ...                          ...        ...
456  741   Tabletop Games and Puzzles      501.0
457  742  Video Games and Accessories      501.0
458  743        Series 24 Minifigures      535.0
459  744                       Stuntz       52.0
460  745                   Disney 100      535.0

[461 rows x 3 columns]

In [4]:
sets = pd.read_csv("/Users/sakshee/Desktop/Lego_Data_Analysis/sets.csv")
sets

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
...,...,...,...,...,...,...
20771,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
20772,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
20773,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
20774,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
20775,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

In [5]:
inventory_parts = pd.read_csv("/Users/sakshee/Desktop/Lego_Data_Analysis/inventory_parts.csv")
inventory_parts

,inventory_id,part_num,color_id,quantity,is_spare,img_url
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...
2,1,stickerupn0077,9999,1,f,NaN
3,1,upn0342,0,1,f,NaN
4,1,upn0350,25,1,f,NaN
...,...,...,...,...,...,...
1108627,167762,3070bpr9877,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1108628,167762,3070bpr9878,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1108629,167762,3070bpr9879,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1108630,167762,3070bpr9880,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...
1108631,167762,3070bpr9881,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...

#### Displaying Top 10 Rows of the sets dataset

In [6]:
sets.head(10)

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
5,0014-1,Space Mini-Figures,1979,143,2,https://cdn.rebrickable.com/media/sets/0014-1.jpg
6,0015-1,Space Mini-Figures,1979,143,18,https://cdn.rebrickable.com/media/sets/0015-1.jpg
7,0016-1,Castle Mini Figures,1979,189,15,https://cdn.rebrickable.com/media/sets/0016-1.jpg
8,002-1,4.5V Samsonite Gears Motor Set,1965,1,3,https://cdn.rebrickable.com/media/sets/002-1.jpg
9,002253963-1,Legend of Chima: Corbeaux et Gorilles,2013,497,4,https://cdn.rebrickable.com/media/sets/0022539...

#### Displaying Last 10 Rows of the sets dataset

In [7]:
sets.tail(10)

,set_num,name,year,theme_id,num_parts,img_url
20766,XBOXGAME-1,Batman the Videogame - Xbox 360,2008,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
20767,XBOXGAME-2,Bionicle Heroes - Xbox 360,2006,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
20768,XBOXGAME-3,DC Super-Villains - Xbox One,2018,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
20769,XBOXGAME-9,Star Wars: The Video Game - Xbox,2005,742,0,https://cdn.rebrickable.com/media/sets/xboxgam...
20770,XMASTREE-1,Christmas Tree,2019,410,26,https://cdn.rebrickable.com/media/sets/xmastre...
20771,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
20772,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
20773,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
20774,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
20775,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

#### Checking Datatype of each column

In [8]:
sets.dtypes

set_num      object
name         object
year          int64
theme_id      int64
num_parts     int64
img_url      object
dtype: object

#### Checking if any NULL values in sets dataset

In [9]:
sets.isnull().sum()

set_num      0
name         0
year         0
theme_id     0
num_parts    0
img_url      0
dtype: int64

#### Checking if any NULL values in sets dataset

In [10]:
themes.isnull().sum()

id             0
name           0
parent_id    141
dtype: int64

#### How many Rows and Columns do we have in our dataset?

In [11]:
sets.shape

(20776, 6)

In [12]:
sets.columns

Index(['set_num', 'name', 'year', 'theme_id', 'num_parts', 'img_url'], dtype='object')

In [13]:
len(sets.columns)

6

In [14]:
len(sets)

20776

In [15]:
sets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20776 entries, 0 to 20775
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   set_num    20776 non-null  object
 1   name       20776 non-null  object
 2   year       20776 non-null  int64
 3   theme_id   20776 non-null  int64
 4   num_parts  20776 non-null  int64
 5   img_url    20776 non-null  object
dtypes: int64(3), object(3)
memory usage: 974.0+ KB

### Merging Data
#### Joining the two data sets (Sets and themes)

In [16]:
sets_themes = pd.merge(sets, themes, how = 'left', left_on = 'theme_id', right_on = 'id', suffixes = ('_sets', '_themes'))

In [17]:
sets_themes.head()

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0

In [18]:
sets_themes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20776 entries, 0 to 20775
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   set_num      20776 non-null  object
 1   name_sets    20776 non-null  object
 2   year         20776 non-null  int64
 3   theme_id     20776 non-null  int64
 4   num_parts    20776 non-null  int64
 5   img_url      20776 non-null  object
 6   id           20776 non-null  int64
 7   name_themes  20776 non-null  object
 8   parent_id    11363 non-null  float64
dtypes: float64(1), int64(4), object(4)
memory usage: 1.6+ MB

In [19]:
sets_themes.columns

Index(['set_num', 'name_sets', 'year', 'theme_id', 'num_parts', 'img_url',
       'id', 'name_themes', 'parent_id'],
      dtype='object')

In [20]:
# Total number of parts per theme:
Num_parts_per_theme = sets_themes.groupby('name_themes').sum().reset_index()
Num_parts_per_theme = Num_parts_per_theme[['name_themes', 'num_parts']].sort_values('num_parts', ascending = False)
Num_parts_per_theme

                     name_themes  num_parts
319                      Technic     240522
304                    Star Wars     233718
123                      Friends     112027
217                      Ninjago     105691
349    Ultimate Collector Series      98627
..                           ...        ...
89                    Disney 100          0
25          Bag and Luggage Tags          0
6                    Adventurers          0
253  Role Play Toys and Costumes          0
233                   Plush Toys          0

[375 rows x 2 columns]

In [21]:
# Total number of parts per year:
Num_parts_per_year = sets_themes.groupby('year').sum().reset_index()
Num_parts_per_year = Num_parts_per_year[['year', 'num_parts']].sort_values('num_parts', ascending = False)
Num_parts_per_year

    year  num_parts
71  2022     278783
70  2021     265359
69  2020     212078
68  2019     191997
66  2017     178454
..   ...        ...
5   1956        249
3   1954        117
8   1959         65
2   1953         50
1   1950          6

[73 rows x 2 columns]

In [22]:
# Sets created in each Century in the dataset:(Feature Engineering: Create column century to the sets_themes dataset)
unique_year = sets_themes['year'].unique()
unique_year.sort()
unique_year

array([1949, 1950, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961,
       1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972,
       1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [23]:
sets_themes['year'] > 2000

sets_themes['Century'] = np.where(sets_themes['year']>2000, '21st_century', '20th_century')
sets_themes

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg,1,Technic,NaN,20th_century
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg,67,Classic Town,50.0,20th_century
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg,199,Lion Knights,186.0,20th_century
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg,143,Supplemental,126.0,20th_century
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg,143,Supplemental,126.0,20th_century
...,...,...,...,...,...,...,...,...,...,...
20771,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...,158,Star Wars,NaN,21st_century
20772,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...,158,Star Wars,NaN,21st_century
20773,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...,158,Star Wars,NaN,21st_century
20774,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...,598,Promotional,NaN,21st_century
20775,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...,501,Gear,NaN,21st_century

In [24]:
Num_sets_per_century = sets_themes.groupby('Century').count().reset_index()
Num_sets_per_century = Num_sets_per_century[['Century', 'set_num']].sort_values('set_num', ascending = False)
Num_sets_per_century

        Century  set_num
1  21st_century    15779
0  20th_century     4997

In [41]:
# Percentage of sets ever released in the 21st Century were Trains themed:
Century_21_data = sets_themes[sets_themes['Century'] == '21st_century']
train = Century_21_data[Century_21_data['name_themes'].str.contains('Train')]
train

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
69,10001-1,Metroliner,2001,233,787,https://cdn.rebrickable.com/media/sets/10001-1...,233,Train,NaN,21st_century
70,10002-1,Railroad Club Car,2001,233,293,https://cdn.rebrickable.com/media/sets/10002-1...,233,Train,NaN,21st_century
145,10052-1,Intelligent Locomotive (Explore),2003,634,7,https://cdn.rebrickable.com/media/sets/10052-1...,634,Trains,504.0,21st_century
171,10078-1,Train Connection Wire,2003,257,1,https://cdn.rebrickable.com/media/sets/10078-1...,257,Train,254.0,21st_century
429,10506-1,Train Accessory Set,2013,634,24,https://cdn.rebrickable.com/media/sets/10506-1...,634,Trains,504.0,21st_century
...,...,...,...,...,...,...,...,...,...,...
15651,7939-1,Cargo Train,2010,66,839,https://cdn.rebrickable.com/media/sets/7939-1.jpg,66,Trains,52.0,21st_century
15698,7996-1,Double Crossover Track,2007,66,4,https://cdn.rebrickable.com/media/sets/7996-1.jpg,66,Trains,52.0,21st_century
15699,7997-1,Train Station,2007,66,387,https://cdn.rebrickable.com/media/sets/7997-1.jpg,66,Trains,52.0,21st_century
20049,K7895-1,Oval Track for RC Trains,2006,66,0,https://cdn.rebrickable.com/media/sets/k7895-1...,66,Trains,52.0,21st_century
20050,K7896-1,Deluxe Track for RC Trains,2006,66,0,https://cdn.rebrickable.com/media/sets/k7896-1...,66,Trains,52.0,21st_century

In [33]:
Century_21_data.shape[0]

15779

In [34]:
train.shape[0]

69

In [36]:
Percentage_sets_21_Trains = train.shape[0]/Century_21_data.shape[0]*100
Percentage_sets_21_Trains

0.43729006907915585

In [39]:
# Percentage of sets ever released in the 21st Century were Disney themed:
Century_21_data = sets_themes[sets_themes['Century'] == '21st_century']
Disney = Century_21_data[Century_21_data['name_themes'].str.contains('Disney')]
Disney

,set_num,name_sets,year,theme_id,num_parts,img_url,id,name_themes,parent_id,Century
432,10509-1,Dusty and Chug,2013,627,16,https://cdn.rebrickable.com/media/sets/10509-1...,627,Disney Planes,504.0,21st_century
434,10510-1,Ripslinger's Air Race,2013,627,40,https://cdn.rebrickable.com/media/sets/10510-1...,627,Disney Planes,504.0,21st_century
435,10511-1,Skipper's Flight School,2013,627,53,https://cdn.rebrickable.com/media/sets/10511-1...,627,Disney Planes,504.0,21st_century
439,10515-1,Ariel's Undersea Castle,2013,640,39,https://cdn.rebrickable.com/media/sets/10515-1...,640,Disney Princess,504.0,21st_century
440,10516-1,Ariel's Magical Boat Ride,2012,640,30,https://cdn.rebrickable.com/media/sets/10516-1...,640,Disney Princess,504.0,21st_century
...,...,...,...,...,...,...,...,...,...,...
19624,BELLE-1,Belle's Castle,2016,579,72,https://cdn.rebrickable.com/media/sets/belle-1...,579,Disney Princess,NaN,21st_century
19695,CINDERELLASCASTLE-1,Cinderella’s Castle,2017,608,102,https://cdn.rebrickable.com/media/sets/cindere...,608,Disney,NaN,21st_century
20565,ROSE-1,The Beast's Enchanted Rose,2017,608,0,https://cdn.rebrickable.com/media/sets/rose-1.jpg,608,Disney,NaN,21st_century
20673,TRUCOGSWORTH-1,Cogsworth,2016,608,48,https://cdn.rebrickable.com/media/sets/trucogs...,608,Disney,NaN,21st_century
20684,TRULUMIERE-1,Lumiere,2016,608,24,https://cdn.rebrickable.com/media/sets/trulumi...,608,Disney,NaN,21st_century

In [42]:
Percentage_sets_21_Disney = Disney.shape[0]/Century_21_data.shape[0]*100
Percentage_sets_21_Disney

1.37524557956778

In [50]:
# The popular theme by year in terms of sets released in the 21st century:
Popular_theme_per_year = Century_21_data.groupby(['year', 'name_themes']).count().reset_index()
Popular_theme_per_year = Popular_theme_per_year[['year', 'name_themes', 'set_num']].sort_values('set_num', ascending = False)
Popular_theme_per_year.drop_duplicates('year').sort_values('year', ascending = False)

      year        name_themes  set_num
1684  2023            Friends       23
1592  2022              Books       79
1534  2021               Gear      149
1443  2020            Friends       59
1403  2019  The LEGO Movie II       64
1308  2018          Star Wars       69
1223  2017          Star Wars       64
1138  2016          Star Wars       63
1039  2015          Star Wars       69
946   2014            Technic      116
850   2013          Star Wars       41
741   2012            Ninjago       47
664   2011            Ninjago       43
584   2010          Key Chain       44
532   2009             Racers       42
422   2008           Bionicle       39
382   2007          Key Chain       36
295   2006           Bionicle       50
235   2005           Bionicle       36
180   2004           Bionicle       48
116   2003           Bionicle       64
101   2002            Technic       65
7     2001           Bionicle       49

In [52]:
# Most produced color of lego ever in terms of quantity of parts:(We join two datasets colors and inventory_parts)
color_inventory = pd.merge(inventory_parts, colors, how = 'left', left_on = 'color_id', right_on = 'id')
color_inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1108627,167762,3070bpr9877,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108628,167762,3070bpr9878,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108629,167762,3070bpr9879,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108630,167762,3070bpr9880,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108631,167762,3070bpr9881,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f

In [53]:
color_inventory.rename(columns = {'name':'color_name'}, inplace = True)
color_inventory

,inventory_id,part_num,color_id,quantity,is_spare,img_url,id,color_name,rgb,is_trans
0,1,48379c01,72,1,f,https://cdn.rebrickable.com/media/parts/photos...,72,Dark Bluish Gray,6C6E68,f
1,1,48395,7,1,f,https://cdn.rebrickable.com/media/parts/photos...,7,Light Gray,9BA19D,f
2,1,stickerupn0077,9999,1,f,NaN,9999,[No Color/Any Color],05131D,f
3,1,upn0342,0,1,f,NaN,0,Black,05131D,f
4,1,upn0350,25,1,f,NaN,25,Orange,FE8A18,f
...,...,...,...,...,...,...,...,...,...,...
1108627,167762,3070bpr9877,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108628,167762,3070bpr9878,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108629,167762,3070bpr9879,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108630,167762,3070bpr9880,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f
1108631,167762,3070bpr9881,15,1,f,https://cdn.rebrickable.com/media/parts/elemen...,15,White,FFFFFF,f

In [57]:
popular_color = color_inventory.groupby('color_name').sum().reset_index()
popular_color = popular_color[['color_name', 'quantity']].sort_values('quantity', ascending = False)
popular_color.head(50)

               color_name  quantity
1                   Black    697927
58      Light Bluish Gray    421399
199                 White    413965
23       Dark Bluish Gray    300480
137                   Red    276220
2                    Blue    188944
200                Yellow    187255
155                   Tan    139082
138         Reddish Brown    119920
60             Light Gray    102664
54                  Green     70491
32               Dark Tan     42426
121                Orange     41551
160           Trans-Clear     40446
31               Dark Red     39029
21              Dark Blue     37539
127            Pearl Gold     35477
72                   Lime     34455
169      Trans-Light Blue     26431
25              Dark Gray     23956
183             Trans-Red     21915
83          Medium Nougat     21897
44            Flat Silver     20303
5     Bright Light Orange     20110
75           Medium Azure     18084
147            Sand Green     17437
3            Bright Green     16856
26             Dark Green     16061
24             Dark Brown     15130
28            Dark Orange     14413
179          Trans-Orange     14170
33         Dark Turquoise     13943
76            Medium Blue     13579
185          Trans-Yellow     13491
30            Dark Purple     13177
7             Bright Pink     12367
162       Trans-Dark Blue     10797
20             Dark Azure     10682
29              Dark Pink     10672
74                Magenta     10090
8                   Brown      9872
156           Trans-Black      9405
202  [No Color/Any Color]      8293
176      Trans-Neon Green      7672
6     Bright Light Yellow      7170
177     Trans-Neon Orange      6528
120           Olive Green      6475
56             Light Aqua      6429
126       Pearl Dark Gray      6316
146             Sand Blue      6243